.main{
    width: 100%;
    height: 80vh;
}

.imgPanel{
    width: 100%;
    height: 100%;
    position: relative;
}

.info{
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 70%;
    top: 17%;
    background-color: #0B6A6E;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.avatar{
    border-radius: 50%;
    width: 25%;
    height: 30%;
}

.username{
    margin-top: 14%;
    /* top: 3; */

}

.usernameContainer{
    display: flex;
    align-items: top;
}

.userInfo{
    width: 100%;
    height: 70%;
    display: flex;
}

.left, .right{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.informations{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin: 3% 0;
}

.modalBtn{
    border-radius: 10%;
    padding: 2% 4%;
    background-color: #0B6A6E;
}

.btnSelectModal{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.delImgBtn{
    margin-top: 30px;
    /* vertical-align: middle; */
}