.main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    color: white;
}

.imgPanel{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.info{
    position: absolute;
    width: 500px;
    height: 70%;
    top: 17%;
    background-color: #0C1512;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.avatar{
    border-radius: 50%;
    width: auto;
    height: 70%;
}

.avatar:hover{
    opacity: 0.7;
    cursor: pointer;
}

.fileInput{
    width: 400px;
    color: white;
}

.avatarCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 4%;
    height: 40%;

}

.usernameContainer{
    display: flex;
    flex-direction: column;
}

.userInfo{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.name{
    margin-top: 3%;
}

.left, .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.informations{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin: 3% 0;
}

.modalBtn{
    border-radius: 10%;
    padding: 2% 4%;
    background-color: #0B6A6E;
}

.btnSelectModal{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.delImgBtn{
    margin-top: 30px;
    /* vertical-align: middle; */
    padding: 5px 10px;
}